.container{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    background-color: yellow;
    align-items: center;
    justify-content: center;
}

#zold {
    background-color: green;
    width: 100px;
    height: 100px;
    display: none;

}

#sarga {
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: none;

}

#lila {
    background-color: purple;
    width: 100px;
    height: 100px;
}